{% extends "base.tpl" %}

{% block content %}
My hobby is a symbolic manipulation programming. I don't like the language and
the whole philosophy behind Maple/Mathematica and I think it could be done better,
so I started <a href="http://code.google.com/p/sympy/">SymPy</a>, which is a
symbolic manipulation package, written in Python. The aim is to have a full
featured CAS in Python, but also to have the code as simple as possible so that
it can be easily learned and extended. Many other very good developers has
joined the development, so things look promising. See that link for more info.
<p/>
I am not the only one with this opinion, recently it's the <a
    href="http://sagemath.org">Sage</a>
project (that also includes SymPy among other symbolic libraries), that directly aims to create an open source alternative to
Maple/Mathematica/Matlab, together with a GUI (notebook in a browser). In
November 2007, I attended the Sage Days 6 workshop (see my <a
    href="http://ondrejcertik.blogspot.com/2007/11/sage-days-6.html">notes</a>
describing my overall impressions from that) and in March 2008 I attended the
Sage Days 8 workshop (<a
    href="http://ondrejcertik.blogspot.com/2008/03/sage-days-8.html">impressions</a>).
<p/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<hr/>

I also created python bindings to GiNaC in SWIG together with Ola Skavhaug, our
project is called <a href="http://swiginac.berlios.de/">swiginac</a>.
{% endblock %}
