{% extends "base.tpl" %}

{% block content %}
<p>
I've been using <a href="http://www.debian.org/">Debian</a> since 2001. I
started with the stable distribution, but pretty soon switched to testing and
then unstable, which I happily use till now (I think since 2003). Recently I
decided to get some packages
that I needed into the distribution. And it's really easy, one just needs to
create the package and go to <a
href="http://mentors.debian.net/">mentors.debian.net</a> and some Debian
developer will upload it into the archive. 
</p>
<p>
When it enters the Debian unstable, it automatically gets to Ubuntu and
currently, Ubuntu is the most widespread linux distribution. Thus it's very
convenient to just upload one package and a huge part of linux users can easily
install it with one command (in a recent <a
href="http://www.desktoplinux.com/news/NS8454912761.html">poll</a>, 
44% of all desktop users are using Debian or Ubuntu).
</p>
<p>
I should have become involved with the Debian developers much earlier, because
it
allowed me to get to know many great people -- all developers I met are real
experts in linux in general and Debian in particular and I learned a lot from
them. They are sorts of people that know how to get things done so it's a
pleasure to work with them. Simply anything, that bothers me on my system and I
would like
to have fixed, I just either fix it myself or with the help of others, then send
the patch to the maintainer of the particular package, he uploads a new
revision and that's it. The next day all my debian systems are fixed. 
</p>

<p>
<!--<a href="http://ondrej.certik.cz/wiki/pmwiki.php">Information</a>-->
<a href="/wiki/pmwiki.php">Information</a>
about configuring various packages in Debian.</p>
<p/>
<p>
To use any of my packages, that are not in the Debian unstable yet, use my
repository <a href="http://debian.certik.cz/">http://debian.certik.cz/</a>.
<p>
See also my page at <a href="http://wiki.debian.org/OndrejCertik">http://wiki.debian.org/OndrejCertik</a>, that contains
information about what I do in Debian.

{% endblock %}
