{% extends "base.tpl" %}

{% block content %}
<p>Ondřej Čertík<br/>
University of Nevada, Reno<br/>
<br/>
Email: ondrej.certik@gmail.com<br/>
Mobile phone: 510-684-2858</p>


<p><a href="{{ MEDIA }}/resume.html">Resume</a></p>

<h2>News</h2>

[08 Feb 2012] Contact information updated<br />
[10 Feb 2011] Contact information updated<br />
[28 Sep 2009] The math section merged into the physics one<br />
[24 Aug 2009] Location and resume update<br />
[02 Jun 2009] Location update<br />
[18 Apr 2009] Physics section updated with links to my notes<br />
[26 Jan 2009] Contact information updated, link to my UNR page added<br />
[02 Sep 2008] My master thesis added to the Physics section<br />
[23 Jun 2008] Physics section updated, CAS section updated<br />
[15 Dec 2007] Development section added, Debian section updated<br />
[19 Nov 2007] CAS and Links sections updated<br />
[11 Nov 2007] Site moved to the Django framework, Blogs section added<br />
[29 Oct 2007] Debian section updated<br />
[08 Sep 2007] Debian section updated<br />
[07 Jul 2007] Debian section updated, Physics section added, PMD removed<br />
[21 May 2007] Debian and CAS sections updated<br />
[06 Nov 2006] Math section update, bachelor's thesis added<br />
[09 Sep 2006] Math section update, Greek letters<br />
[30 Aug 2006] CAS section update, sympy added<br />
[29 Apr 2006] Debian section updated, a lot of configuration notes added<br />
[06 Oct 2005] PyGiNaC section renamed to CAS, my cas in python<br />
[21 Sep 2005] PyGiNaC section updated, swiginac<br />
[03 May 2005] Math section added<br />
[25 Mar 2005] PMD section updated, Meshutils-0.12<br />
[18 Mar 2005] Links section added<br />
[14 Mar 2005] PMD section updated, Meshutils-0.10
{% endblock %}
