{% extends "base.tpl" %}

{% block content %}
<p>
<a href="http://www.mff.cuni.cz/toUTF8.en/">Faculty of Mathematics and
        Physics</a>,
    Charles University, Prague, the Czech Republic.<br/>
<a href="http://fzu.cz/">Institute of Physics</a>,
Academy of Sciences of the Czech Republic.<br/>
People (alphabetical order):</p>
<h4>Physics</h4>
<p>
<a href="http://utf.mff.cuni.cz/en/info/people/bicak.html">Jiří Bičák</a><br />
<a href="http://utf.mff.cuni.cz/~cizek/">Martin Čížek</a><br />
<a href="http://www-ucjf.troja.mff.cuni.cz/dolejsi/dolejsi.html">Jiří Dolejší</a><br />
<a href="http://utf.mff.cuni.cz/Quantum/jiho.htm">Jiří Horáček</a><br />
<a href="http://www-ucjf.troja.mff.cuni.cz/~horejsi/">Jiří Hořejší</a><br />
<a href="http://www.fzu.cz/~janis/">Václav Janiš</a><br />
<a href="http://www.fzu.cz/~jelinekp/">Pavel Jelínek</a><br />
<a href="http://www-ucjf.troja.mff.cuni.cz/~kladiva/">Miroslav Kladiva</a><br />
<a href="http://www.cts.cuni.cz/~kotecky/">Roman Kotecký</a><br />
<a href="http://www.fzu.cz/~kotrla/">Miroslav Kotrla</a><br />
<a href="http://utf.mff.cuni.cz/~krtous/home.html">Pavel Krtouš</a><br />
<a href="http://oberon.troja.mff.cuni.cz/~nemef1am/">František Němec</a><br />
<a href="http://var.astro.cz/pejcha/homepage/">Ondřej Pejcha</a><br />
<a href="http://jiri.plesek.cz/">Jiří Plešek</a><br />
<a href="http://www.icpf.cas.cz/pers.aspx?PID=1138">Milan Předota</a><br />
<a href="http://utf.mff.cuni.cz/info/lide/podolsky.html">Jiří Podolský</a><br />
<a href="http://utf.mff.cuni.cz/en/info/people/semerak.html">Oldřich Semerák</a><br />
<a href="http://www-ucjf.troja.mff.cuni.cz/scheirich/">Daniel Scheirich</a><br />
<a href="http://quantum.karlov.mff.cuni.cz/skala/">Lubomír Skála</a><br />
<a href="http://www.physnet.uni-hamburg.de/hp/kvyborny/">Karel Výborný</a><br />
<a href="http://artax.karlin.mff.cuni.cz/~zdebl9am/">Lenka Zdeborová</a><br />
<a href="http://utf.mff.cuni.cz/~zofka/">Martin Žofka</a><br />
</p>
<h4>Mathematics</h4>
<p>
<a href="http://www.karlin.mff.cuni.cz/~krysl/">Svatopluk Krysl</a><br />
<a href="http://www.karlin.mff.cuni.cz/~lukes/">Jaroslav Lukeš</a><br />
<a href="http://www.karlin.mff.cuni.cz/~pokorny/">Milan Pokorný</a><br />
<a href="http://www.karlin.mff.cuni.cz/~rokyta/">Mirko Rokyta</a><br />
<a href="http://www.karlin.mff.cuni.cz/~somberg/">Petr Somberg</a><br />
<a href="http://www.karlin.mff.cuni.cz/~soucek/">Vladimír Souček</a><br />
</p>
<h4>Computer Science</h4>
<p>
<a href="http://ksvi.mff.cuni.cz/~holan/">Tomáš Holan</a><br/>
</p>

<h4>Other</h4>
<p>
<a href="http://utf.mff.cuni.cz/en/info/mgr.html">List of theoretical physics master students</a><br />
<a href="http://hrbatypes.wz.cz/">Hrbatý pes</a> (MFF UK cross-country ski club)<br />
<a href="http://fo.cuni.cz/">Fyzikální olympiáda</a><br />
</p>
{% endblock %}
