{% extends "base.tpl" %}

{% block content %}
<h3>Research interests</h3>

<ul>
<li>Electronic structure calculations: Density Functional Theory (DFT),
pseudopotentials</li>
<li>High Order Finite Element Method (hp-FEM): mesh generation, assembly, automatic
adaptivity (<a href="http://hpfem.org">hpfem.org</a>)</li>
<li>Sparse solvers: linear equations, eigenproblems, nonlinear problems</li>
<li>Symbolic manipulation (<a href="http://sympy.org">SymPy</a>)</li>
</ul>

I am interested in the things above and especially in writting programs
(libraries) for making the whole calculation automatic. I am also interested
in applying quantum electrodynamic (QED) to all of the phenomena in the
electronic structure to see exactly how the equations (that are later solved on
the computer) arise. In general I am interested in the whole theoretical
physics.

<h3>Theses</h3>
<p>
Master: Calculation of electron structure in the framework of DFT in real space
(<a href="{{ MEDIA }}/cookbook/master.pdf">master.pdf</a>)
<br/>
Bachelor: Numerical solution of the radial Dirac equation in pseudopotential
construction (<a href="{{ MEDIA }}/cookbook/thesis.ps">thesis.ps</a>)
</p>


<h4>Theoretical Physics Reference</h4>

I have collected all my physics and math notes into an open source book that I
call the<br/>
<a href="http://theoretical-physics.net/">Theoretical
    Physics Reference</a>. At that link you can find html version of the book,
source code, pdf and also order a physical hardcover book.


<h4>Greek Letters</h4>

English pronunciation of Greek letters: <a href="{{ MEDIA }}/cookbook/greekletters.ps">greekletters.ps</a>



<h3>Conferences</h3>
<p>
<ul>
    <li>SIAM Conference on Computational Science and Engineering (CSE09),
    Miami, FL, USA, March 2-6, 2009 (<a
        href="{{ MEDIA }}/siam2009.pdf">presentation</a>)</li>
    <li>Finite Element Methods in Engineering and Science (FEMTEC 2009),
    Granlibakken Conference Center, Lake Tahoe, CA, USA, January 5-9, 2009 (<a
        href="{{ MEDIA }}/femtec2009.pdf">presentation</a>)</li>
    <li>EuroSciPy 2008 Conference, Leipzig, Germany, July 26-27, 2008 (<a
        href="{{ MEDIA }}/euroscipy2008.pdf">presentation</a>)</li>
    <li>5th International Workshop on Parallel Matrix Algorithms and
    Applications (PMAA'08). Neuchâtel, Switzerland, June 20-22, 2008 (<a
        href="{{ MEDIA }}/pmaa08.pdf">presentation</a>)</li>
    <li>8th Workshop on the DOE Advanced Computational Software (ACTS)
    Collection Workshop, Lawrence Berkeley National Laboratory, Berkeley, CA,
    USA</li>
    <li>SciPy 2007 Conference, Caltech, Pasadena, CA, USA, 2007 (<a
        href="{{ MEDIA }}/scipy2007.pdf">presentation</a>)</li>
    <li>Workshop and Advanced School on Eigenvalue Problems, Software and
    Applications (EPSA2007), Porto, Portugal, 2007</li>
    <li>Launch Conference of the International Year of physics, UNESCO, Paris,
    France, 2005</li>
</ul>
See <a href="{{ MEDIA }}/resume.html">resume</a> for more information.
</p>

{% endblock %}
