{% extends "base.tpl" %}

{% block title %}
Texts (Czech only)
{% endblock %}

{% block content %}
<p>S bývalým spolužákem Jirkou Hronem jsme sepsali naše názory a postřehy o gymnáziu, kde jsme strávili 8 let.</p>
    <p>Text o <a href="http://www.gchd.cz/">Gymnáziu Christiana Dopplera</a> &ndash; verze ze dne 26.&nbsp;1.&nbsp;2004:<br /> 
    <a href="{{ MEDIA }}/doppler/dopp.pdf">dopp.pdf</a><br /> 
    <a href="{{ MEDIA }}/doppler/dopp.ps">dopp.ps</a></p> 
    <p>Text Jirky Hrona (hron@fzu.cz) &ndash; verze ze dne 26.&nbsp;12.&nbsp;2003:<br /> 
    <a href="{{ MEDIA }}/doppler/hron.doc">hron.doc</a></p> 
{% endblock %}
